@model AuctionHouse.Web.ViewModels.Users.UserViewModel

@{
    this.ViewData["Title"] = "Users";
}

<h1 class="text-center text-monospace text-info mt-3">@this.ViewData["Title"]</h1>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@this.Model.UserName</h1>
                </div>
            </div>

            @*@{
                    Model.BidsAmount = Model.BidsAmount + Model.Price;
                    if (Model.LastBidder == null)
                    {
                        Model.LastBidder = "No bids yet";
                    }

                }*@

        <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Id: </span>@this.Model.Id</li>
            <li class="list-group-item"><span class="font-weight-bold">Email: </span>@this.Model.Email</li>
            <li class="list-group-item"><span class="font-weight-bold">Balance: <span class="font-weight-normal" id="currentBalance">$@this.Model.Balance</span></span></li>
        </ul>

            <hr />
            <div class="form-group">
                <label for="exampleFormControlInput1">Give money to user</label>
                <ul>
                    <li type="button" class="btn btn-success" data-vote="5000">5000</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
                $("li[data-vote]").each(function (el) {
                    $(this).click(function () {
                        var value = $(this).attr("data-vote");
                        var userId = @Model.Id;
                        //var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                        var data = { userId: userId, value: value };

                        $.ajax({
                            type: "POST",
                            url: "/api/User",
                            data: JSON.stringify(data),
                            //headers: {
                            //    'X-CSRF-TOKEN': antiForgeryToken
                            //},
                            success: function (data) {
                                $('#currentBalance').html(data.value);
                                //console.log(data);
                            },
                            contentType: 'application/json',
                        });
                    })
                });
    </script>
}