@using AuctionHouse.Common
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<section class="img-fluid.max-width: 100%"
         style="background-image: url('https://d3jlwjv6gmyigl.cloudfront.net/images/2020/10/auct.jpg'); background-repeat: repeat; ">
    <div style="height: 36vh;"></div>
    <div class="text-center">
        <h1 class="display-2 text-warning">Welcome to @GlobalConstants.SystemName!</h1>
        <div class="col-md-4 offset-md-4">
            <p class="text-warning">
                This is online auction platform, which is easy to use. We have: @Model.AuctionsCount auctions and @Model.CategoriesCount categories.
                @if (this.User.Identity.IsAuthenticated)
                {
                <p>Current balance: @Model.Balance</p>
            }

            </div>
        </div>
        @*<ul class="list-group">
                <li class="list-group-item">Auctions: @Model.AuctionsCount</li>
                <li class="list-group-item">Categories: @Model.CategoriesCount</li>
            </ul>*@


    </section>
    <hr />
    <section>
        <h1 class="display-4 text-warning">Weekly auctions</h1>
        <div class="col-md-12">
            <div class="row">
                @foreach (var auction in this.Model.WeeklyAuctions)
                {
                    <div class="card col-md-4 mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="@auction.ImageUrl" alt="@auction.Name">
                        <div class="card-body">
                            <h5 class="card-title">@auction.Name</h5>
                            <p class="card-text">@auction.CategoryName</p>
                            <a asp-controller="Auctions" asp-action="SingleAuction" asp-route-auctionId="@auction.Id" class="btn btn-success">View</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    @*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.WeeklyAuctions.Count(); i++)
                {
                    var weeklyAuction = Model.WeeklyAuctions[i];
                    <div class="carousel-item active">
                        <img src="@auction.ImageUrl" class="d-block w-75" alt="@auction.Name">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@auction.Name</h5>
                            <p class="card-text">@auction.CategoryName</p>
                            <a asp-controller="Auctions" asp-action="SingleAuction" asp-route-auctionId="@auction.Id" class="btn btn-success">View</a>
                        </div>
                    </div>
                }

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>*@
