@using AuctionHouse.Common
@model AuctionHouse.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<section class="img-fluid.max-width: 100%"
         style="background-image: url('https://d3jlwjv6gmyigl.cloudfront.net/images/2020/10/auct.jpg'); background-repeat: repeat; ">
    <div style="height: 36vh;"></div>
    <div class="text-center">
        <h1 class="display-2 text-warning">Welcome to @GlobalConstants.SystemName!</h1>
        <div class="col-md-4 offset-md-4">
            <p class="text-warning">This is online auction platform, which is easy to use. We have: @Model.AuctionsCount auctions and @Model.CategoriesCount categories</p>

        </div>
    </div>
    @*<ul class="list-group">
            <li class="list-group-item">Auctions: @Model.AuctionsCount</li>
            <li class="list-group-item">Categories: @Model.CategoriesCount</li>
        </ul>*@


</section>

<section>
    <h1 class="display-4 text-warning">Weekly auctions</h1>
    <div class="col-md-8">
        <div class="row">
            @foreach (var auction in this.Model.WeeklyAuctions)
            {
                <div class="card col-md-6" style="width: 18rem;">
                    <img class="card-img-top" src="@auction.ImageUrl" alt="@auction.Name">
                    <div class="card-body">
                        <h5 class="card-title">@auction.Name</h5>
                        <p class="card-text">@auction.CategoryName</p>
                        <a asp-controller="Auctions" asp-action="SingleAuction" asp-route-auctionId="@auction.Id" class="btn btn-success">View</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
