@model AuctionHouse.Web.ViewModels.Auctions.ListAuctionsViewModel

@if (this.Model.AuctionsCount != 0)
{
    @foreach (var auction in this.Model.Auctions)
    {
        <div class="card media col-md-3 mb-4" style="width: 18rem;">
            <img class="card-img-top" src="@auction.ImageUrl" alt="This auction doesn`t have image" width="100">
            <div class="card-body">
                <h3 class="card-title">@auction.Name</h3>
                <p class="card-text">Category: @auction.CategoryName</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="font-weight-bold">Starting price: </span>@auction.Price $</li>
                <li class="list-group-item"><span class="font-weight-bold">Current price: </span>@auction.Bit</li>
                <li class="list-group-item"><span class="font-weight-bold">Owner: </span>@auction.UserUserName</li>
            </ul>
            <div class="card-body">
                <a asp-action="Search" asp-route-auctionId="@auction.Id" class="btn btn-success">View</a>
            </div>
        </div>
    }
}
else
{
    <tr>
        <td colspan="3" class="text-center">No results!</td>
    </tr>
}
