@model CommentAuctionInputModel
@{
    this.ViewData["Title"] = "Comments";
}

<h1 class="text-center text-monospace text-info mt-3">@this.ViewData["Title"]</h1>
<hr />

@{
    var userId = this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}

<div class="container">
    <div class="row col-md-6 offset-3">
        @if (this.Model.Comments.Count() == 0)
        {
            <h1 class="display-6 text-warning fw-bold mb-5 text-center">There are no comments yet!</h1>
        }
        else
        {
            @foreach (var comment in Model.Comments)
            {
                <div class="coment-bottom bg-dark p-2 px-4 mt-2">
                    <div class="d-flex flex-row add-comment-section mt-1 mb-2"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/CFpa3nK.jpg" width="38"><h5 class="mr-2">@comment.UserUserName</h5></div>
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <span class="dot mb-1"></span><span class="mb-1 ml-2">@comment.PostedOn</span>
                        </div>
                        <div class="comment-text-sm fw-bold h4 mt-3 mb-3"><span>@comment.Content</span></div>
                    </div>
                    @if (userId == comment.UserId)
                    {
                        <form method="post" id="deleteComment" asp-action="Delete" asp-route-commentId="@comment.Id" asp-route-auctionId="@comment.AuctionId">
                            <div class="form-group">
                                <button type="submit" class="btn-danger mb-n5">Delete</button>
                            </div>
                        </form>
                    }
                </div>
            }
        }
    </div>
</div>
<hr />

<form method="post" id="commentAuction">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea maxlength="300" asp-for="Content" class="form-control" style="background-color: #b6b7b4;"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
</form>
<div id="sendButton" class="form-group"><button type="submit" class="btn btn-outline-warning" onclick="commentAuction.submit()">Post Comment</button></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}