@model AuctionHouse.Web.ViewModels.Comments.CommentAuctionInputModel
@{
    this.ViewData["Title"] = "Comments";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="container">
    <div class="row">
        @foreach (var comment in Model.Comments)
        {
            <div class="coment-bottom bg-dark p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/CFpa3nK.jpg" width="38"><h5 class="mr-2">@comment.UserUserName</h5></div>
                <div class="commented-section mt-2">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <span class="dot mb-1"></span><span class="mb-1 ml-2">@comment.PostedOn</span>
                    </div>
                    <div class="comment-text-sm"><span>@comment.Content</span></div>
                </div>
            </div>
            <form method="post" id="deleteComment" asp-action="Delete" asp-route-commentId="@Model.Id"></form>
            <a class="btn btn-block btn-danger text-white mb-3" data-toggle="modal" data-target="#deleteModal">Delete comment</a>
        }
    </div>
</div>
<hr />

<form method="post" id="commentAuction">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea maxlength="300" asp-for="Content" class="form-control" style="background-color: #b6b7b4;"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
</form>
<div class="form-group"><button type="submit" class="btn btn-outline-warning" onclick="commentAuction.submit()">Post Comment</button></div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this auction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteComment.submit()">Delete</button>
            </div>
        </div>
    </div>
</div>