@model ListAuctionsViewModel
@{
    this.ViewData["Title"] = "Auction list";
    var categoriesItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var currentCategory = this.ViewBag.CurrentCategory;
}

@if (this.TempData.ContainsKey("Message"))
{
    <partial name="_AlertPartial" />
}

<h1 class="text-center text-monospace text-info mt-3 mb-n3">@this.ViewData["Title"] - @this.Model.AuctionsCount</h1>
<form method="get">
    <div class="row ml-4">
        <label asp-for="Category"></label>
        <div class="form-group col-md-3">
            <select asp-for="Category" class="form-control" asp-items="categoriesItems"></select>
        </div>
        <div class="form-group col-md-3">

            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
</form>

<hr />

<partial name="_CarsListPartial" model="@Model" />
<hr />
@*<partial name="_PagingPartial" model="@Model" />*@


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-route-id="@Model.PreviousPageNumber">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-route-category="@currentCategory" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">@Model.PageNumber <span class="sr-only">(current)</span></a>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-route-category="@currentCategory"  asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-route-category="@currentCategory"  asp-route-id="@Model.NextPageNumber">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
