@model AuctionHouse.Web.ViewModels.Auctions.ListAuctionsViewModel
@{
    this.ViewData["Title"] = "Auction list";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

<div class="row">
    @foreach (var auction in this.Model.Auctions)
    {
        <div class="card media col-md-3" style="width: 18rem;">
            <img class="card-img-top" src="@auction.ImageUrl" alt="This auction doesn`t have image" width="100">
            <div class="card-body">
                <h5 class="card-title">@auction.Name</h5>
                <p class="card-text">Category: @auction.CategoryName</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Starting price: @auction.Price$</li>
                <li class="list-group-item">Current price: @auction.Bit</li>
                <li class="list-group-item">Owner: @auction.UserUserName</li>
            </ul>
            <div class="card-body">
                <a href="/Auctions/SingleAuction?auctionId=@auction.Id" class="btn btn-success">Bit</a>

                @*<a asp-action="SingleAuction" asp-route-id="@auction.Id" class="btn btn-success">Bit</a>*@
            </div>
        </div>
    }
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />